<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.desc }}">
    <meta name="author" content="{{ page.author }}">
    <meta name="email" content="{{ page.email }}">
    <title>Hi, I'm Jacky!</title>
    {% include base-styles.html %}
</head>
<body>
{% include navigator.html %}

<div class="container">
    新年快乐!
</div>

{% include footer.html %}
{% include base-scripts.html %}
</body>
</html>